.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
}
.lbs-page label {
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 35px;
  font-size: 24px;
  color: #878787;
  line-height: 33px;
}
.lbs-page input {
  padding-left: 35px;
  width: 650px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .search-wrapper {
  justify-content: flex-start;
  width: 650px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
}
.lbs-page .search-wrapper select {
  width: 150px;
  padding-left: 35px;
}
.lbs-page .search-wrapper select option {
  padding: 20px 57px;
  text-align: center;
  font-size: 28px;
  color: #333333;
}
.lbs-page .search-wrapper input {
  flex: 1;
  padding-left: 35px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .search-wrapper image {
  margin: 25px 35px 25px 0;
  width: 30px;
  height: 30px;
}
.lbs-page .list .item {
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
}
.lbs-page .list .item .detail {
  flex-direction: column;
}
.lbs-page .list .item .detail .name {
  align-items: center;
}
.lbs-page .list .item .detail .name .shop-name {
  margin-right: 24px;
  font-size: 28px;
  color: #333333;
}
.lbs-page .list .item .detail .name .category {
  width: 79px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #4a4a4a;
  font-size: 18px;
  color: #4a4a4a;
}
.lbs-page .list .item .detail .address-wrapper {
  margin-top: 17px;
}
.lbs-page .list .item .detail .address-wrapper image {
  margin-right: 5px;
  width: 19px;
  height: 28px;
}
.lbs-page .list .item .detail .address-wrapper .address {
  font-size: 24px;
  color: #c9c9c9;
}
.lbs-page .list .item .claim-btn {
  padding-left: 0;
  width: 150px;
  height: 48px;
  background-color: #fffffe;
  border-radius: 24px;
  border: 1px solid #f67222;
  font-size: 20px;
  color: #fb8431;
}
