.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
  label {
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 35px;
    font-size: 24px;
    color: rgba(135, 135, 135, 1);
    line-height: 33px;
  }
  input {
    padding-left: 35px;
    width: 650px;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    font-size: 28px;
    color: rgba(203, 203, 203, 1);
  }
  .search-wrapper {
    justify-content: flex-start;
    width: 650px;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    select {
      width: 150px;
      padding-left: 35px;
      option {
        padding: 20px 57px;
        text-align: center;
        font-size: 28px;
        color: rgba(51, 51, 51, 1);
      }
    }
    input {
      flex: 1;
      padding-left: 35px;
      font-size: 28px;
      color: rgba(203, 203, 203, 1);
    }
    image {
      margin: 25px 35px 25px 0;
      width: 30px;
      height: 30px;
    }
  }
  .list {
    .item {
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 42px 0;
      border-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #eeeeee;
      .detail {
        flex-direction: column;
        .name {
          align-items: center;
          .shop-name {
            margin-right: 24px;
            font-size: 28px;
            color: rgba(51, 51, 51, 1);
            // line-height: 40px;
          }
          .category {
            width: 79px;
            text-align: center;
            border-radius: 20px;
            border: 1px solid #4a4a4a;
            font-size: 18px;
            color: rgba(74, 74, 74, 1);
          }
        }
        .address-wrapper {
          margin-top: 17px;
          image {
            margin-right: 5px;
            width: 19px;
            height: 28px;
          }
          .address {
            font-size: 24px;
            color: rgba(201, 201, 201, 1);
          }
        }
      }
      .claim-btn {
        padding-left: 0;
        width: 150px;
        height: 48px;
        background-color: rgba(255, 255, 254, 1);
        border-radius: 24px;
        border: 1px solid rgba(246, 114, 34, 1);
        font-size: 20px;
        color: rgba(251, 132, 49, 1);
      }
    }
  }
}
