.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
}
.lbs-page .type-wrapper {
  flex-direction: column;
}
.lbs-page label {
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 35px;
  font-size: 24px;
  color: #878787;
  line-height: 33px;
}
.lbs-page input {
  padding-left: 35px;
  width: 650px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .search-wrapper {
  justify-content: flex-start;
  width: 650px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
}
.lbs-page .search-wrapper select {
  width: 150px;
  padding-left: 35px;
}
.lbs-page .search-wrapper select option {
  padding: 20px 57px;
  text-align: center;
  font-size: 28px;
  color: #333333;
}
.lbs-page .search-wrapper input {
  flex: 1;
  padding-left: 35px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .search-wrapper image {
  margin: 25px 35px 25px 0;
  width: 30px;
  height: 30px;
}
.lbs-page .btn-wrapper {
  justify-content: space-between;
}
.lbs-page .btn-wrapper input {
  width: 315px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #000000;
}
.lbs-page .btn-wrapper .active {
  border: 1px solid #f67222;
}
.lbs-page .upload-wrapper {
  justify-content: center;
}
.lbs-page .upload-wrapper .upload {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 236px;
  height: 173px;
  border: 1px solid #cccccc;
}
.lbs-page .upload-wrapper .upload image {
  width: 40px;
  height: 35px;
}
.lbs-page .upload-wrapper .upload text {
  margin-top: 9px;
  height: 33px;
  font-size: 24px;
  color: #474747;
  line-height: 33px;
}
.lbs-page .upload-wrapper image {
  width: 236px;
  height: 173px;
  border: 1px solid #cccccc;
}
.lbs-page .phone-wrapper {
  justify-content: space-between;
}
.lbs-page .phone-wrapper .phone {
  padding-left: 35px;
  width: 436px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 28px;
  color: #cbcbcb;
}
.lbs-page .phone-wrapper .code-btn {
  width: 194px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 45px;
  font-size: 24px;
  color: #fb8431;
}
.lbs-page .upload-btn {
  margin-top: 133px;
  margin-bottom: 70px;
  width: 650px;
  height: 88px;
  background-color: #ffa042;
  border-radius: 44px;
  font-size: 28px;
  color: #ffffff;
}
