.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
  .type-wrapper {
    flex-direction: column;
  }
  label {
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 35px;
    font-size: 24px;
    color: rgba(135, 135, 135, 1);
    line-height: 33px;
  }
  input {
    padding-left: 35px;
    width: 650px;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    font-size: 28px;
    color: rgba(203, 203, 203, 1);
  }
  .search-wrapper {
    justify-content: flex-start;
    width: 650px;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    select {
      width: 150px;
      padding-left: 35px;
      option {
        padding: 20px 57px;
        text-align: center;
        font-size: 28px;
        color: rgba(51, 51, 51, 1);
      }
    }
    input {
      flex: 1;
      padding-left: 35px;
      font-size: 28px;
      color: rgba(203, 203, 203, 1);
    }
    image {
      margin: 25px 35px 25px 0;
      width: 30px;
      height: 30px;
    }
  }
  .btn-wrapper {
    justify-content: space-between;
    input {
      width: 315px;
      height: 80px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 45px;
      font-size: 28px;
      color: rgba(0, 0, 0, 1);
    }
    .active {
      border: 1px solid rgba(246, 114, 34, 1);
    }
  }
  .upload-wrapper {
    justify-content: center;
    .upload {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      width: 236px;
      height: 173px;
      border: 1px solid #cccccc;
      image {
        width: 40px;
        height: 35px;
      }
      text {
        margin-top: 9px;
        height: 33px;
        font-size: 24px;
        color: rgba(71, 71, 71, 1);
        line-height: 33px;
      }
    }
    image {
      width: 236px;
      height: 173px;
      border: 1px solid #cccccc;
    }
  }
  .phone-wrapper {
    justify-content: space-between;
    .phone {
      padding-left: 35px;
      width: 436px;
      height: 80px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 45px;
      font-size: 28px;
      color: rgba(203, 203, 203, 1);
    }
    .code-btn {
      width: 194px;
      height: 80px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 45px;
      font-size: 24px;
      color: rgba(251, 132, 49, 1);
    }
  }
  .upload-btn {
    margin-top: 133px;
    margin-bottom: 70px;
    width: 650px;
    height: 88px;
    background-color: rgba(255, 160, 66, 1);
    border-radius: 44px;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
  }
}
