.lbs-page {
  flex-direction: column;
  .title {
    margin: 100px 60px;
    font-size: 52px;
    color: rgba(0, 0, 0, 1);
    line-height: 73px;
  }
  .form {
    padding: 0 50px;
    flex-direction: column;
    input {
      height: 80px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 40px;
      font-size: 28px;
      color: rgba(203, 203, 203, 1);
    }
    > .first,
    .second {
      padding-left: 50px;
      width: 650px;
      margin-right: 10px;
      justify-content: flex-start;
      border-radius: 40px;
      align-items: center;
      background-color: rgba(245, 245, 245, 1);
      image {
        width: 22px;
        height: 35px;
      }
      input {
        flex: 1;
        padding-left: 10px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
      }
    }
    > .first {
      margin-bottom: 35px;
    }
    > .btn {
      margin-top: 100px;
      justify-content: center;
      width: 650px;
      height: 88px;
      background-color: #ffa042;
      border-radius: 44px;
      text {
        font-size: 32px;
        border-radius: 44px;
        color: rgba(255, 255, 254, 1);
      }
    }
    .phone-wrapper {
      margin-bottom: 30px;
      justify-content: space-between;
      input {
        padding-left: 50px;
      }
      .phone-number-wrapper {
        padding-left: 50px;
        width: 446px;
        margin-right: 10px;
        justify-content: flex-start;
        border-radius: 40px;
        align-items: center;
        background-color: rgba(245, 245, 245, 1);
        image {
          width: 22px;
          height: 35px;
        }
        text {
          margin-left: 30px;
          font-size: 28px;
          color: rgba(66, 66, 66, 1);
        }
        .phone-number {
          flex: 1;
          padding-left: 10px;
          border-bottom-right-radius: 40px;
          border-top-right-radius: 40px;
        }
      }
      .code-btn {
        padding-left: 0;
        width: 194px;
        font-size: 24px;
        color: rgba(251, 132, 49, 1);
      }
    }
    .password-wrapper {
      margin-bottom: 60px;
      padding-left: 50px;
      width: 650px;
      margin-right: 10px;
      justify-content: flex-start;
      border-radius: 40px;
      align-items: center;
      background-color: rgba(245, 245, 245, 1);
      image {
        width: 22px;
        height: 35px;
      }
      .identifying-code {
        flex: 1;
        padding-left: 10px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
      }
    }
  }
}
