.lbs-page {
  flex-direction: column;
  padding: 0 50px 0 50px;
  label {
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 35px;
    font-size: 24px;
    color: rgba(135, 135, 135, 1);
    line-height: 33px;
  }
  > input {
    padding-left: 35px;
    width: 650px;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    font-size: 28px;
    color: rgba(203, 203, 203, 1);
  }
  picker {
    text-align: center;
    height: 80px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 45px;
    font-size: 28px;
    color: rgba(7, 7, 7, 1);
  }
  .upload-wrapper {
    justify-content: center;
    .upload {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      width: 236px;
      height: 173px;
      border: 1px solid #cccccc;
      image {
        width: 40px;
        height: 35px;
      }
      text {
        margin-top: 9px;
        height: 33px;
        font-size: 24px;
        color: rgba(71, 71, 71, 1);
        line-height: 33px;
      }
    }
    image {
      width: 236px;
      height: 173px;
      border: 1px solid #cccccc;
    }
  }
  .btn-wrapper {
    justify-content: space-between;
    input {
      width: 315px;
      height: 80px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 45px;
      font-size: 28px;
      color: rgba(0, 0, 0, 1);
    }
    .active {
      border: 1px solid rgba(246, 114, 34, 1);
    }
  }
  .time-wrapper {
    justify-content: space-between;
    align-items: center;
    picker {
      width: 250px;
    }
    text {
      width: 20px;
      height: 40px;
      font-size: 28px;
      color: rgba(135, 135, 135, 1);
      line-height: 40px;
    }
  }
  .state-wrapper {
    picker {
      width: 650px;
    }
  }
  .address-wrapper {
    justify-content: space-between;
    picker {
      width: 200px;
    }
  }
  .next-button {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 67px;
    width: 650px;
    height: 88px;

    background-color: #ffa042;
    // background: linear-gradient(
    //   315deg,
    //   rgba(255, 106, 83, 1) 0%,
    //   rgba(255, 160, 66, 1) 100%
    // );
    // border: 1px solid #cccccc;
    border-radius: 44px;
    text {
      font-size: 28px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
